{% extends "base.html" %}

{% block main %}
	<div class="card col l10 m10 s12 push-l1 push-m1 center z-depth-2">
		<img src="https://cdn.rallybound.org/Content/images/img/11467/FB-cover-828x315-5K-crowd.jpg" width="100%">
		<h4>Shatterproof is a national nonprofit organization dedicated to ending the devastation addiction causes families.</h4>
        <br>
        <h5>Addiction shatters lives</h5>
		<p>We believe that together we have the capacity to reduce the devastating impact of addiction on families across America. Together we can help parents prevent their children from developing an addiction to alcohol and other drugs and ensure that those afflicted with this disease gain access to proven and effective treatments and long-term recovery programs.</p>
		<br>
		<h5>Together, united, we are Shatterproof</h5>	
		<p>Together we can reduce the stigma and secrecy associated with addiction, removing the shame felt by those struggling with this disease and their families. Together we can change the conversation about addiction.</p>
		<br>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}