{% extends "base.html" %}

{% block main %}
<div style="margin: 35px">
    <h5 class="center-align">Chatbot Severity Scores</h5>
    <p class="center-align"><i>User expressed concern about family members struggling with addiction. ShatterProofLive sent user several resources to best help deal with this situation.</i></p>
    <canvas id="line-chart" width="80%" style="height: 20vh"></canvas>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: ['8/20', '9/01', '9/09', '9/15', '9/16', '9/20', '9/25', '9/26', '10/6', '10/7'],
            datasets: [{
                data: [97, 85, 85, 50, 48, 33, 36, 36, 57, 45],
                label: "Severity Score (AI)",
                borderColor: "#3e95cd",
                fill: false
            }]
        },
        options: {
            maintainAspectRatio: false,
            title: {
                display: true,
                text: ''
            },
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });
</script>
{% endblock %}