{% extends "base.html" %}

{% block main %}
	<div class="card col l10 m10 s12 push-l1 push-m1 center z-depth-2" id="patient_table">
		<table class="highlight">
			<thead>
				<tr>
					<th></th>
					<th class=" hide-on-small-only"></th>
					<th>First</th>
					<th>Last</th>
					<th>Gender</th>
					<th>Provider</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for p in patients %}
				<tr onclick="window.location.href = 'patient/{{ p._id }}';">
					<td></td>
					<td class="left-align hide-on-small-only"><img class="circle" src="{{ p.propic }}" style="max-width: 40px; margin-top: 0;"></td>
					<td>{{ p.firstname }}</td>
					<td>{{ p.lastname }}</td>
					<td>{{ p.gender }}</td>
					<td>{{ p.provider }}</td>
					<td><span class="new badge"></span></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}