{% extends "base.html" %}

{% block main %}
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<div class="col l10 m10 s12 push-l1 push-m1">
		<div class="row">
			<h4 style="font-weight: lighter;">{{ patient.firstname }} {{ patient.lastname }} ({{ patient.gender }}):</h4>
		</div>
	</div>

	<div class="col l10 m10 s12 push-l1 push-m1">
		<div class="row center-align">
			<p class="red-text" style="margin-top: 0;">These calculations will become available when {{ "Mr." if patient.gender == "male" else "Ms." }} {{ patient.lastname }} answers more of Chicken's messages.</p>
			<style type="text/css">
				.btn {
					margin-top: 5px;
				}
			</style>
			<a class="waves-effect waves-light btn orange disabled"><i class="material-icons left">picture_as_pdf</i>Calculate PHQ-9 (Depression)</a>
			<a class="waves-effect waves-light btn orange disabled"><i class="material-icons left">picture_as_pdf</i>Calculate GAD-7 (Anxiety)</a>
			<a class="waves-effect waves-light btn orange disabled"><i class="material-icons left">picture_as_pdf</i>Calculate WHO-5 (Well-Being)</a>
			<a class="waves-effect waves-light btn orange disabled"><i class="material-icons left">picture_as_pdf</i>Calculate PCL (PTSD)</a>
			<a class="waves-effect waves-light btn orange disabled"><i class="material-icons left">picture_as_pdf</i>Calculate DASS-21 (Stress)</a>
			<a class="waves-effect waves-light btn orange disabled"><i class="material-icons left">picture_as_pdf</i>Calculate Y-BOCS (OCD)</a>
		</div>
	</div>


	<div class="card col l10 m10 s12 push-l1 push-m1 center z-depth-2">
		<div class="row">
			<div class="col l4 m4 s12 center-align">
				<h5>Interest</h5>
				<div id="container1" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container1', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Interest'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Interest',
					        data: [{{ num_scores.depression.q1 }}]
					    }]
					});
				</script>
			</div>
			<div class="col l4 m4 s12 center-align">
				<h5>Mood</h5>
				<div id="container2" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container2', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Mood'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Mood',
					        data: [{{ num_scores.depression.q2 }}]
					    }]
					});
				</script>
			</div>
			<div class="col l4 m4 s12 center-align">
				<h5>Sleep</h5>
				<div id="container3" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container3', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Sleep'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Sleep',
					        data: [{{ num_scores.depression.q3 }}]
					    }]
					});
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col l4 m4 s12 center-align">
				<h5>Energy</h5>
				<div id="container4" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container4', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Energy'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Energy',
					        data: [{{ num_scores.depression.q4 }}]
					    }]
					});
				</script>
			</div>
			<div class="col l4 m4 s12 center-align">
				<h5>Appetite</h5>
				<div id="container5" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container5', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Appetite'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Appetite',
					        data: [{{ num_scores.depression.q5 }}]
					    }]
					});
				</script>
			</div>
			<div class="col l4 m4 s12 center-align">
				<h5>Self-Worth</h5>
				<div id="container6" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container6', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Self-Worth'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Self-Worth',
					        data: [{{ num_scores.depression.q6 }}]
					    }]
					});
				</script>
			</div>
		</div>
		<div class="row">
			<div class="col l4 m4 s12 center-align">
				<h5>Concentration</h5>
				<div id="container7" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container7', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Concentration'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Concentration',
					        data: [{{ num_scores.depression.q7 }}]
					    }]
					});
				</script>
			</div>
			<div class="col l4 m4 s12 center-align">
				<h5>Movement</h5>
				<div id="container8a" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container8a', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Movement'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Movement',
					        data: [{{ num_scores.depression.q8a }}]
					    }]
					});
				</script>
			</div>
			<div class="col l4 m4 s12 center-align">
				<h5>Restlessness</h5>
				<div id="container8b" style="height: 100px;"></div>
				<script type="text/javascript">
					Highcharts.chart('container8b', {
					    chart: {
					        type: 'bar'
					    },
					    title: {
					        text: ' '
					    },
					    xAxis: {
					        categories: ['Restlessness'],
					        title: {
					            text: null
					        }
					    },
					    yAxis: {
					        min: 0,
					        max: 14,
					        title: {
					            text: ' ',
					            align: 'high'
					        },
					        labels: {
					            overflow: 'justify'
					        }
					    },
					    tooltip: {
					        valueSuffix: ''
					    },
					    legend: {
					        enabled: false,
					    },
					    credits: {
					        enabled: false
					    },
					    series: [{
					        name: 'Restlessness',
					        data: [{{ num_scores.depression.q8b }}]
					    }]
					});
				</script>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
{% endblock %}